h1 {
	color: #679436
}

h2 {
	text-align: center
}

body {
	font-family: helvetica;
	text-align: center;
	background-color: #
}

#toc_container {
  border-radius: 70px;
  background: #e9edc9;
  padding: 20px;
  margin-bottom: 30px;
   border: 3px solid #ccd5ae;
   height: 500px;
   line-height: 40px;
   font-weight: bold;
   color: #679436;
}

#input_device {
 border-radius: 70px;
  background: #e9edc9;
  padding: 20px;
 height: 250px;
 width: 500px;
 border: 3px solid #ccd5ae;
}

#output_device {
border-radius: 70px;
  background: #e9edc9;
  padding: 20px;
 height: 250px;
 width: 500px;
 border: 3px solid #ccd5ae;
}

a {
	color: #679436
}

a:link {
	color: red;
	text-decoration:none;
}

a: visited {
color: green;
text-decoration:none;
}
	
a:hover {
color: #76c893;
text-decoration:none
}